@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.btn-social {
  @apply inline-flex items-center justify-center rounded-full bg-[#15B4B1] text-white w-12 h-12 transition hover:bg-[#129e9b] shadow-lg;
}

.text-tiffany {
  color: #15B4B1;
}

.animate-fade-in {
  animation: fadeIn 1.2s ease 0s both;
}
.animate-fade-in-delay {
  animation: fadeIn 1.2s ease 0.5s both;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: none; }
}
